deployments/
dist/
local/
/output
/coverage.html
/coverage.out
/.mach/

# Docs
/docs/build
/docs/env/

# Editor files
/.idea
/.vscode

# File extensions
.DS_Store
*.pyc
__pycache__
.cache
.version
/.python-version

# binaries
/bin
