# Generated content
*.egg-info
deployments
build/
dist/


# Test output
/.coverage*
/reports/
/.pytest_cache/
/.mypy_cache/
/.docker_tag
/.tox

# Docs
/docs/build


# Editor files
/.idea
/.vscode


# File extensions
.DS_Store
*.pyc
__pycache__
.cache
.version
/.python-version
