# Base
click==8.0.4
dataclasses-json==0.5.6
dataclasses-jsonschema==2.15.0
Jinja2==3.0.3

pyyaml-include==1.2.post2
requests==2.27.1
cookiecutter==1.7.3
colorama==0.4.4
tldextract==3.2.0
filelock==3.12.2
