terraform {
{{ .BackendConfig }}

    required_providers {
    {{ range $provider := .Providers }}
        {{ $provider }}
    {{ end }}

    {{ if .IncludeSOPS }}
        sops = {
        source = "carlpett/sops"
        version = "~> 1.0"
        }
    {{ end }}
    }
}
